[Unit]
Description=Remote desktop service (VNC)
After=lightdm.service
Requires=lightdm.service

[Service]
Type=simple
EnvironmentFile=-/etc/default/xvnc
StandardError=syslog
ExecStart=/usr/sbin/Xvnc :1 -SecurityTypes=None -alwaysshared -geometry $VNC_GEOMETRY -depth $VNC_BPP -query $XDMCP_HOST -rfbport $VNC_PORT

[Install]
WantedBy=multi-user.target